<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Cook time:</strong>
    <%= recipe.cook_time %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= recipe.integer %>
  </p>

  <p>
    <strong>Prep time:</strong>
    <%= recipe.prep_time %>
  </p>

  <p>
    <strong>Ratings:</strong>
    <%= recipe.ratings %>
  </p>

  <p>
    <strong>Cuisine:</strong>
    <%= recipe.cuisine %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recipe.category %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= recipe.author %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= recipe.image_url %>
  </p>

</div>
